

<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <%= form_tag("/users/create", {multipart: true}) do %>
         <p>名前(表示されます)<span class="required_txt">*</span></p>
          <input name="name">
          <p>メールアドレス<span class="required_txt">*</span></p>
          <input name="email">
          <p>プロフィール写真(表示されます)<span class="required_txt">*</span></p>
          <input name="image" type="file">
          <p>パスワード(6文字以上で設定してください)<span class="required_txt">*</span></p>
           <input type="password" name="password" value="<%= @user.password %>">
          <input type="submit" value="新規登録">
        <% end %>
        
      </div>
    </div>
  </div>
</div>