<div class="main top-main">
  <div class="top-message">
    <h2>参考書のレビューを見ることができます</h2>
    <h3>自分のレビューを投稿することもできます！</h3>
  </div>


<section class="news">
      <div class="container">
        <h3>コンセプトと作った理由</h3>
        <dl>
          <div class="news-wrapper">
            <dt  class="news-day">review_app </dt>
              <dd class="ravel ravel2">理由1</dd>
              <dd class="news-text" >自分が大学受験の時に独学だったため、それぞれの参考書がどのようなものかわからず、アマゾンのレビューもはずれがあり不便だったからです！</dd>
            </div>

          <div class="news-wrapper">
            <dt class="news-day">review_app</dt>
              <dd class="ravel ravel2" >理由2</dd>
              <dd class="news-text">家庭教師の営業をしていた時にコロナの影響で教育の平等性がなくなっていると感じました。<br>塾や家庭教師に多額の投資ができる家庭やそうでない家庭。オンライン環境のレベルなどです。<br>
              参考書学習であればそれ自体の金額は塾などに比べて安価であるためそれらをもっと有効に使える手助けをしたいと考えました</dd>
            </div>

        </dl>

    
      </div>
    </section>
</div>