<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
          <%= @post.content %>
      <div class="posted-time">
        <%= @post.created_at %>
      </div>
      <div class="post-menus">
        <%= link_to("編集する", "/users/#{@user.id}/edit") %>
        <%= link_to("削除する", "/users/#{@user.id}/destroy", {method: "post"}) %>
      </div>
      </p>
    </div>
  </div>
</div>