<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
​
     <%= form_tag("/posts/create",{multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <label for='title'>タイトル <span class="required_txt">*</span></label>
          <textarea type='string' name="title" placeholder='本のタイトルを入力'><%= @post.title %></textarea>
          <label for='content'>本の感想 <span class="required_txt">*</span></label>
          <textarea name="content" placeholder='感想を入力'><%= @post.content %></textarea>
          <label for='picture'>本の写真 <span class="required_txt">*</span></label>
          <input name="picture" type="file">        
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>